# Appname
APPNAME='APPNAME'
# Appversion
APPVERSION='APPVERSION'
# App port
APP_PORT=3000
# Node environment
NODE_ENV=development
# API version
API_VERSION=1.0

# Database host
DATABASE_HOST='DATABASE_HOST'
# Database port
DATABASE_PORT=5432
# Database username
DATABASE_USERNAME='DATABASE_USERNAME'
# Database password
DATABASE_PASSWORD='123456'
# Database name
DATABASE_NAME='DATABASE_NAME'
# Database synchronize
DATABASE_SYNCHRONIZE=true
# Database autoload entities
DATABASE_AUTOLOAD_ENTITIES=true

# Auth env variables
JWT_SECRET=JWT_SECRET
JWT_TOKEN_AUDIENCE=localhost:3000
JWT_TOKEN_ISSUER=localhost:3000
JWT_ACCESS_TOKEN_TTL=3600  # Time To Live in seconds (1 hour)
JWT_REFRESH_TOKEN_TTL=86400  # Time To Live in seconds (24 hours)

# Google OAuth env variables
GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET

# testing env variables for feature module
PROFILE_API_KEY='PROFILE_API_KEY'

# AWS env variables
AWS_PUBLIC_BUCKET_NAME=AWS_PUBLIC_BUCKET_NAME
AWS_REGION=AWS_REGION # eu-west-3
AWS_CDN_URL=AWS_CDN_URL
AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID # AWS AIM User Key ID
AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY # AWS AIM User Secret Key